@model RoomsApplication.Models.HumanViewModel

@{
    ViewBag.Title = "Update";
}
@using (Html.BeginForm("Update", "Humans", FormMethod.Post))
{
    <h1>This is Update Human Page</h1>
    <br />
    <div>
        @Html.LabelFor(x => x.Name)
    </div>
    <div>
        @Html.TextBoxFor(x => x.Name)
    </div>
    <br />
    <div>
        @Html.LabelFor(x => x.PhoneNumber)
    </div>
    <div>
        @Html.TextBoxFor(x => x.PhoneNumber)
    </div>
    <br />
    <div>
        @Html.LabelFor(x => x.RoomId)
    </div>
    <div>
        @Html.TextBoxFor(x => x.RoomId)
    </div>
    <br />
    <input type="submit" value="Отправить" />
}

